.row {
  max-width: 60rem;
}

/* About Me Container */
.about-me-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 0; /* Add padding to the top and bottom */
  margin: 2rem auto; /* Adds space above and below the container */
  max-width: 100%; /* Center and constrain the content */
}

/* Profile Card Section */
.profile-card-container {
  display: flex;
  justify-content: center;
  border-right: 0.2rem solid lightgray; /* Adds a light gray dividing line */
  padding-right: 1.25rem;
}

/* Profile Card */
.profile-card {
  background-color: #f9f7f4;
  padding: 1.25rem;
  border-radius: 0.625rem;
  box-shadow: 0rem 0.3125rem 0.9375rem rgba(0, 0, 0, 0.1);
  text-align: center;
}

.profile-image {
  border-radius: 50%;
  width: 9.375rem;
  height: 9.375rem;
  object-fit: cover;
}

.profile-title {
  font-size: 1.125rem;
  color: #555;
}

.social-links a {
  margin: 0 0.625rem;
  color: #333;
}

/* About Text Container */
.about-text-container {
  padding-left: 1rem;
  padding-right: 1rem;
  justify-content: center;
}

h1 {
  font-size: 3rem;
  color: #333;
  margin-bottom: 1.5rem; /* Add margin to create space below the heading */
}

/* Adjust button spacing */
.resume-btn,
.projects-btn {
  padding: 0.625rem 1.25rem;
  border-radius: 0.3125rem;
  margin-right: 0.625rem; /* Space between the buttons */
  margin-bottom: 1.5rem; /* Add space below the buttons */
  background-color: #6ccfa9;
  border: none; /* Removes border from buttons */
  font-size: 1rem;
  color: #fff; /* Ensures text is white for readability */
  transition: background-color 0.3s ease;
}

.resume-btn:hover,
.projects-btn:hover {
  background-color: #1db87c; /* Darker green on hover */
}

.projects-btn {
  background-color: transparent;
  border: 0.125rem solid #6ccfa9;
  color: #6ccfa9; /* Change text color to match border */
}

.projects-btn:hover {
  background-color: #1db87c;
  color: #fff; /* White text when hovered */
}

/* Education Section */
.education-section {
  margin-top: 6rem;
}

.education-card {
  margin-bottom: 1.25rem;
}

.education-card h3 {
  font-size: 1.125rem;
  color: #8b715e;
}

.education-card p {
  font-size: 0.875rem;
  color: #333;
}

.university-logo {
  max-width: 100px; /* Adjust size if necessary */
  height: auto;
  padding-right: 20px; /* Adds space to the right of the logo */
}

.education-content {
  display: flex;
  align-items: center; /* Align logo and text vertically */
  justify-content: space-between;
}

.education-text {
  flex: 1; /* Ensure the text takes up available space */
}

/* Media Queries for Mobile Screens */
@media (max-width: 48rem) {
  .about-me-container {
    flex-direction: column; /* Stack content vertically */
    padding: 1.25rem;
  }

  .profile-card-container,
  .about-text-container {
    max-width: 100%;
    margin-bottom: 1.25rem;
  }

  h1 {
    font-size: 2.25rem;
  }

  .profile-image {
    width: 7.5rem;
    height: 7.5rem;
  }

  button.resume-btn,
  button.projects-btn {
    padding: 0.625rem 0.9375rem;
  }
}

@media (max-width: 30rem) {
  h1 {
    font-size: 2rem;
  }

  .profile-image {
    width: 6.25rem;
    height: 6.25rem;
  }

  p {
    font-size: 0.875rem;
  }

  button.resume-btn,
  button.projects-btn {
    font-size: 0.875rem;
    padding: 0.5rem 0.75rem;
  }
}
